page-home {
padding: 0;
margin: 0;

}
.body{
   
    background-color:  rgb(0,63,114)
}
#bntHome{
    background-color: rgb(234,171,0);
    color: white;
}
.logo{
margin:  auto 0;
width: 50%;
}
ion-content{
    text-align: center;
}



