<ion-header >
  <ion-navbar >
     <ion-title class="header">
        HOME
     </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="body">
<img alt="" class="logo" src="../assets/imgs/logoUtpl.png"><br><br>
   <section>
         <ion-item>
               <ion-label stacked>Usuario</ion-label>
               <ion-input [(ngModel)]="user" type="email" placeholder="Ingrese Correo"></ion-input>
             </ion-item>
         <ion-item>
               <ion-label  stacked>Contraseña</ion-label>
               <ion-input [(ngModel)]="pass" type="password" placeholder="Ingrese Contraseña"></ion-input>
             </ion-item><br>
   </section>
   <!--<button id="bntHome" ion-button round outline block (click)="viewList()">IngresarADMIN</button>-->
   <button id="bntHome" ion-button round outline block (click)="viewRoom()">INGRESAR</button>

   

</ion-content>
