page-send-data {
padding:0;
margin:0;
}

#avatar img {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
}

//Estilos para el borde de la imagen avatar
.img-circle {
    border-radius: 50%;
   border: 10px inset#20bcd5;
}