<ion-header>
   <ion-navbar>
      <ion-title>{{ pageTitle }}</ion-title>
   </ion-navbar>
</ion-header>

<ion-content padding class="body">

   <div>
<!--
      <ion-item *ngIf="isEdited && !hideForm">
         <button ion-button item-right color="secondary" text-center block (click)="deleteEntry()">¿Quitar esta
            entrada?</button>
      </ion-item>-->


      <div *ngIf="hideForm">
         <ion-item class="post-entry-message" text-wrap>
            <h2>Éxito!</h2>
            <p>Tal vez le gustaría Registrar una nueva asistencia?</p>
            <p>Simplemente regrese a la página de inicio y seleccione la opción que desea seguir.</p>
         </ion-item>
      </div>
      <div *ngIf="!hideForm" >
         <form [formGroup]="form" >

            <ion-list>
               <div id="avatar" class="section">
                  <img alt="" class="img-circle" src="../assets/imgs/profile.png">
               </div>

               <ion-item-group>
                  <ion-item-divider color="light">Nombre del docente *</ion-item-divider>
                  <ion-item>
                     <ion-input [disabled]="true" type="text" placeholder="Escribe  nombre..." formControlName="nombreDoc"
                        [(ngModel)]="lnombreDoc"></ion-input>
                  </ion-item>
               </ion-item-group>


               <ion-item-group>
                  <ion-item-divider color="light">Apellido del docente *</ion-item-divider>
                  <ion-item>
                     <ion-input [disabled]="true" type="text" placeholder="Escribe apellido..." formControlName="apellidoDoc"
                        [(ngModel)]="lapellidoDoc"></ion-input>
                  </ion-item>
               </ion-item-group>

               <ion-item-group>
                  <ion-item-divider color="light">Cedula del docente *</ion-item-divider>
                  <ion-item>
                     <ion-input [disabled]="true" type="text" placeholder="Escribe cedula.. " formControlName="cedulaDoc"
                        [(ngModel)]="lcedulaDoc"></ion-input>
                  </ion-item>
               </ion-item-group>


               <ion-item-group>
                  <ion-item-divider color="light">Email del docente *</ion-item-divider>
                  <ion-item>
                     <ion-input [disabled]="true" type="text" placeholder="Escribe email.. " formControlName="emailDoc"
                        [(ngModel)]="lemailDoc"></ion-input>
                  </ion-item>
               </ion-item-group>

               <ion-item-group>
                  <ion-item-divider color="light">Cubiculo *</ion-item-divider>
                  <ion-item>
                     <ion-input [disabled]="true" type="text" placeholder="Escribe cubiculo.. " formControlName="nombreCubiculo"
                        [(ngModel)]="lnombreCubiculo"></ion-input>
                  </ion-item>
               </ion-item-group>

               <ion-item-group>
                  <ion-item-divider color="light">Horario *</ion-item-divider>
                  <ion-item>
                     <ion-input [disabled]="true" type="text" placeholder="Escribe horario.. " formControlName="horario"
                        [(ngModel)]="lhorario"></ion-input>
                  </ion-item>
               </ion-item-group>

               <ion-item-group>
                  <ion-item-divider color="light">dia *</ion-item-divider>
                  <ion-item>
                     <ion-input [disabled]="true" type="text" placeholder="Escribe dia.. " formControlName="nombreDia"
                        [(ngModel)]="lnombreDia"></ion-input>
                  </ion-item>

               </ion-item-group>
               <ion-item-divider color="light">Fecha de asistencia *</ion-item-divider>
               <ion-item>
                  <ion-label>Fecha</ion-label>
                  <ion-datetime [(ngModel)]="selectDate" (ionChange)="getItemDay(selectDate)" formControlName="fecha"
                     display-format="MMM DD, YYYY HH:mm" cancelText="Cancelar" doneText="Ok"></ion-datetime>
               </ion-item>

               <ion-item-group>


                  <ion-item-divider color="light">Observación *</ion-item-divider>
                  <ion-item>
                     <ion-input [(ngModel)]="ngObserver" (click)="getObserver()" type="text" placeholder="Escribe observación.... "
                        formControlName="observacion"></ion-input>
                  </ion-item>
               </ion-item-group>




               

            </ion-list>


         </form>
         
         <ion-item-divider color="light">Estado de Asistencia *</ion-item-divider>
         <ion-item>
            <ion-label>Disponible</ion-label>
            <ion-checkbox [(ngModel)]="Available" (click)="check1(Available)" ></ion-checkbox>

         </ion-item>
         <ion-item>

            <ion-label>No Disponible</ion-label>
            <ion-checkbox [(ngModel)]="notAvailable" (click)="check1(notAvailable)"></ion-checkbox>

         </ion-item>
         <ion-item>
            <button ion-button color="primary" text-center block (click)="saveEntry()" >Guardar
               Entrada</button>
         </ion-item>
      </div>
   </div>


</ion-content>