<ion-header>
  <ion-navbar>
     <ion-title>
        Lista de Docentes Registrados
     </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="body">

 
<img alt="" class="logo" src="../assets/imgs/logoUtpl.png"><br><br>
<ion-searchbar [(ngModel)]="searchTerm"  [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
 <!--<div *ngIf="searching" class="spinner-container">
  <ion-spinner></ion-spinner>
 </div>
 <ion-list>
   <ion-item *ngFor="let item of items">
     {{item}}
   </ion-item>
 </ion-list>-->

  <ion-item *ngFor="let item of items">
     <h2>{{ item.nombDocente }} </h2>
     <button ion-button color="primary" item-right (click)="viewEntry({ record: item })">Ver</button>
  </ion-item>


</ion-content>
