
<ion-header>

  <ion-navbar>
    <ion-title>homeAdmin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="body">
  <button ion-button block outline (click)="viewTeacher()">Registar Docentes + </button>
  <button ion-button block outline>Registar Componentes + </button>
  <button ion-button block outline>Asignar Tutorias + </button>
</ion-content>
