<ion-header>
   <ion-navbar>
      <ion-title>
         Lista de Docentes Registrados
      </ion-title>
   </ion-navbar>
</ion-header>

<ion-content padding class="body">

   <ion-item>
      <button class="add" ion-button item-right icon-right margin-bottom color="primary" (click)="addEntry()">
         Agregar Docente
         <ion-icon name="add"></ion-icon>
      </button>
   </ion-item>


   <ion-item *ngFor="let item of items">
      <h2>{{ item.nombreDoc }} </h2>
      <button ion-button color="primary" item-right (click)="viewEntry({ record: item })">Ver</button>
   </ion-item>


</ion-content>