
<ion-header>

  <ion-navbar>
    <ion-title>Sala A</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="body">
  <img alt="" class="logo" src="../assets/imgs/logoUtpl.png"><br><br>
  <ion-item>
    <ion-label>Dia</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="itemSelectedDay" okText="Aceptar" cancelText="Cancelar"
      (ionChange)="getItemDay(itemSelectedDay.nombreDia)">
      <ion-option *ngFor="let o of listDay" [value]="o">{{o.nombreDia}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Horario</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="itemSelectedSchedule" okText="Aceptar" cancelText="Cancelar"
      (ionChange)="getItemSchedule(itemSelectedSchedule.horario)">
      <ion-option *ngFor="let o of listSCHEDULE" [value]="o">{{o.horario}}</ion-option>
    </ion-select>
  </ion-item>
  <button class="buscar"  ion-button block (click)="loadAll()">Buscar</button>
  <div >
    <ion-item *ngFor="let item of items">
      {{ item.nombreDoc }}
      <button ion-button color="primary" item-right (click)="viewEntry({ record: item })">Ver</button>
    </ion-item>
  </div>
</ion-content>