<ion-header>
   <ion-navbar>
      <ion-title>{{ pageTitle }}</ion-title>
   </ion-navbar>
</ion-header>


<ion-content padding class="body">

   <div>
      <ion-item *ngIf="isEdited && !hideForm">
         <button ion-button item-right color="secondary" text-center block (click)="deleteEntry()">¿Quitar esta
            entrada?</button>
      </ion-item>


      <div *ngIf="hideForm">
         <ion-item class="post-entry-message" text-wrap>
            <h2>Éxito!</h2>
            <p>Tal vez le gustaría editar una entrada existente o agregar un nuevo registro?</p>
            <p>Simplemente regrese a la página de inicio y seleccione la opción que desea seguir.</p>
         </ion-item>
      </div>


      <div *ngIf="!hideForm">
         <form [formGroup]="form" (ngSubmit)="saveEntry()">

            <ion-list>
               <ion-item-group>
                  <ion-item-divider color="light">Nombre del docente *</ion-item-divider>
                  <ion-item>
                     <ion-input type="text" placeholder="Escribe  nombre..." formControlName="nombreDoc" [(ngModel)]="lnombreDoc"></ion-input>
                  </ion-item>
               </ion-item-group>


               <ion-item-group>
                  <ion-item-divider color="light">Apellido del docente *</ion-item-divider>
                  <ion-item>
                     <ion-input type="text" placeholder="Escribe apellido..." formControlName="apellidoDoc" [(ngModel)]="lapellidoDoc"></ion-input>
                  </ion-item>
               </ion-item-group>

               <ion-item-group>
                  <ion-item-divider color="light">Cedula del docente *</ion-item-divider>
                  <ion-item>
                     <ion-input type="text" placeholder="Escribe cedula.. " formControlName="cedulaDoc" [(ngModel)]="lcedulaDoc"></ion-input>
                  </ion-item>
               </ion-item-group>


               <ion-item-group>
                  <ion-item-divider color="light">Email del docente *</ion-item-divider>
                  <ion-item>
                     <ion-input type="text" placeholder="Escribe email.. " formControlName="emailDoc" [(ngModel)]="lemailDoc"></ion-input>
                  </ion-item>
               </ion-item-group>

               <ion-item>
                  <button ion-button color="primary" text-center block [disabled]="!form.valid">Guardar Entrada</button>
               </ion-item>

            </ion-list>

         </form>
      </div>
   </div>


</ion-content>