<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="SalaA" tabIcon="contacts"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="SalaB" tabIcon="contacts"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="SalaC" tabIcon="contacts"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Segu" tabIcon="contacts"></ion-tab>
  </ion-tabs>
