<!--
  Generated template for the HomeRrhhPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>home_rrhh</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!--<div class="tabs tabs-possitive">
  <a class="tab-item">sala A</a>
  <a class="tab-item">sala B</a>
  <a class="tab-item">sala C</a>
</div>-->

</ion-content>
<ion-tabs>
    <ion-tab tabIcon="home">SALAA</ion-tab>
    <ion-tab>SALA B</ion-tab>
    <ion-tab>SALA C</ion-tab>
</ion-tabs>